
  <table style="width:100%; height: 100%;">
    <tbody>
      <tr>
        <th style="width: 200px;" scope="col">
          <!-- Creat input field for inputNumber and Express new number from renewNumber function
          after click anywhere out of field -->
          <input id="inputNumber"
          (blur)="renewNumber($event)" type="text" />
        </th>
        <th style="min-width: 100px;" scope="col">
          <div class="col">
            <!-- Create dropdown from dropdownList array -->
            <select [(ngModel)]="dropdownItem" 
            (change)="selectedDropdown($event.target.value)">
              <option  
              *ngFor="let x of dropdownList" 
              value="{{x.value}}">
                {{x.label}}
              </option>
            </select>
            
          </div>
        </th>
        <th style="width: 300px;" scope="col">
          <!-- Express booleen answer -->
          {{col3Answer}}
        </th>
      </tr>
    </tbody>
  </table>

